::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #30304d; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6259ca; 
}

.page-main {
    background-color: #30304d;
}	
